<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Sharing Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css')}}">
</head>
<body>
    <header>
        
    </header>
    <main>
          <div class = "Container">

               <div class="section">
                    <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                         <h2>Register</h2>
                         <div>
                              <label>Username:<br/>
                                   <input id="registerUsername" type="text" name="username"/>
                              </label>
                         </div>
                         <br/>
                         <div>
                              <label>Password:<br/>
                                   <input id="registerPassword" type="password" name="password"/>
                              </label>
                         </div>
                         <input class="submit" type="submit" value="Sign Up">
                    </form>
               </div>

               <div class="section">
                    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                         <h2>Login</h2>
                         <div>
                              <label>Username:<br/>
                                   <input id="loginUsername" type="text" name="username"/>
                              </label>
                         </div>
                         <br/>
                         <div>
                              <label>Password:<br/>
                                   <input id="loginPassword" type="password" name="password"/>
                              </label>
                         </div>
                         <input class="submit" type="submit" value="Login">
                    </form>
               </div>


          </div>
    <footer>
        <p>Developed by Jonah, Mat, Phillip, Elisha, and Sarah - Recipe Sharing Platform Project - CSE312</p>
    </footer>
</body>
</html>
