<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<link rel="shortcut icon" href="../static/images/favicon.ico">
<link rel="stylesheet" href="../static/css/styles.css">
<header id = "landing-header">
    <h1 id = "landing-header-text">Recipe Sharing Platform</h1>
    <nav>
        <a id = "landing-header-text" href="/">Home</a>
        <a id = "landing-header-text" href="/recipes">Browse Recipes</a>
        <a id = "landing-header-text" href="/reviews">View Reviews</a>
        </nav>
</header>
<body onload="obtainReviews()">
     <main>
          <section id="review-list">
               <h2>Reviews</h2>    
               <div id="posted-reviews"></div>
          </section>

          <div>
               <label for="reviewInput">Enter Review Here:</label>
               <textarea id="reviewInput" name="review_input" required></textarea>
               <button onclick="sendReview()">Submit Review</button>
          </div>
     </main>
          <!--Obtained Via https://flask-socketio.readthedocs.io/en/latest/getting_started.html#initialization -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="/static/js/reviewapp.js"></script>
</body>
</html>

